#success-message{
  		background: #DEF1D8;
  		color: green;
  		padding: 10px;
  		margin: 10px;
  		display: none;
  		position: absolute;
  		right: 15px;
  		top:15px;
  	}
  	#error-message{
  		background: #EFDCDD;
  		color: red;
  		padding: 10px;
  		margin: 10px;
  		display: none;
  		position: absolute;
  		right: 15px;
  		top:15px;
      z-index: -100;
  	}
    #edit-friends {
      background: rgba(0,0,0,0.7);
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
    }
    #edit-friends-form{
      background: #fff;
      width: 40%;
      position: relative;
      top: 20%;
      left: calc(50%-20%);
      padding: 15px;
      border-radius: 4px;
    }